<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Carousel Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/bootstrap.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">

  </head>
<!-- NAVBAR
================================================== -->
  <body>

  <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container" style="color:white;  background: rgba(54, 25, 25, .6);">
        <h1>Stop STD!</h1>
        <p>Our service helps to stop sexually trasmitted diseases. Register for free and get advice on sexual health.</p>
        <p><a class="btn btn-success btn-lg" href="#register">register &raquo;</a> &nbsp; <a class="btn btn-primary btn-lg" href="#services0">read more &raquo;</a></p>
      </div>
    </div>
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row" id="services0">
        <div class="col-lg-4">
          <img class="img-circle" src="assets/connection.png" data-src="assets/connection.png" alt="Generic placeholder image">
          <h2>Connect</h2>
          <p>Create an anonymized network tree of your sexual ‘encounters’ so you can keep track of your sexual partners.</p><br>
          <p><a class="btn btn-default" href="#services">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/assets/circle.png" data-src="/assets/circle.png" alt="Generic placeholder image">
          <h2>Record</h2>
          <p>Be reminded to seek out regular sexual health screening tests and upload the results to our secure network.</p><br>
          <p><a class="btn btn-default" href="#services2">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="assets/network2.png" data-src="/assets/network2.png" alt="Generic placeholder image">
          <h2>Inform</h2>
          <p>If you test positive for an STI/STD, anonymously push alerts encouraging testing to your extended network of sexual partners.</p><br>
          <p><a class="btn btn-default" href="#services3">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr  id="services" >

      <div class="row featurette" >
        <div class="col-md-7">
          <h2 class="featurette-heading">CONNECT</h2>
          <p class="lead">By using our simple text messaging based interface you can easily register a new sexual partner. This connects them to your sexual network for future reference.</p>

        </div>

        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/assets/connection2.png" data-src="/assets/connection2.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr  id="services2">

      <div class="row featurette"  style="background-color: #9FBACC">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/assets/circle2.png" data-src="/assets/circle2.png" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">RECORD</h2>
          <p class="lead">Built in notifications let you know when it’s time to get your next sexual health checkup. Once you’ve had your appointment you can input your results directly via text or by using our web application.
          </p>
        </div>
      </div>

      <hr  id="services3">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">INFORM</h2>
          <p class="lead">If your test results come back positive you can send an anonymous notification to all users connected to your sexual network which encourages them to get themselves checked out!</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/assets/network.png" data-src="/assets/network.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr id="register">

      <div class="row" id="services"  style="background-color: #9FBACC">
        <div class="col-md-12" >
        <h1 class="text-center">Let this app get viral so you don't have to!<span class="text-muted"></span></h1>
          <p class="lead text-center">Join STFree in reducing the transmission of Sexually Transmitted Illnesses and Diseases by breaking the chain of infection.</p>
          
                  <script>
        function registerClicked()
        {
          document.getElementById("toDisable").readOnly=true;
          document.getElementById("registerBtn").innerHTML="Thank you for registering!";
        }
        </script>


        <%= form_for(@user, class: "form-inline text-center", id: "register-form") do |f| %>
          <div class="form-group container">
            <%= f.text_field :phone_number, class: 'form-control', placeholder: "+15556667777", id: 'toDisable' %>
          </div>

          <%= f.submit "Register", class: 'btn btn-success', id: "registerBtn" %>
        <% end %>
        </div>
      </div>

      <hr>

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer style="margin-top: 20px;">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 STFree &middot; <a href="#">Privacy</a> &middot;</p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/jquery.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/holder.js"></script>
  </body>
</html>
